@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("react-multi-carousel/lib/styles.css");
@import url("react-image-gallery/styles/css/image-gallery.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    transition: all 0.3s;
  }
}

* {
  font-family: "Nunito Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.react-multi-carousel-list {
  padding-bottom: 40px;
}

.react-multiple-carousel__arrow {
  z-index: 5 !important;
}

iframe {
  width: 100% !important;
  height: 100% !important;
}

.image-gallery,
.image-gallery-image,
.image-gallery-content,
.image-gallery-slide-wrapper,
.image-gallery-slides,
.image-gallery-slide.image-gallery-center,
.image-gallery-swipe,
.image-gallery-slide {
  height: 100%;
}

@media screen and (max-width: 769px) {
  .image-gallery-slide-wrapper {
    width: 100% !important;
    /* Outros estilos para largura maior que 768 pixels, se necessário */
  }
}

.image-gallery-image {
  object-fit: cover !important;
}
